#displayResults{
	width:500px;
	display:inline;
	float:left;
	height: 92%;
	width:20%;
}

#results{
	height: 92%;
	overflow: scroll;
	padding-left: 5%;
	font-size: 20;
	background-color: #DFF2F7;
}


.myPanelFooter{
	background-color: #6FA2B3;
	color:white;
	font-size:33;
}

#detailedResultsContainer{
	display:inline;
	float:left;
	width:80%;
	height:100%;
}

#detailedResults{
	height:100%;
	width:100%;
	overflow: scroll;
}

#instituteName{
	font-size: 35;
	font-weight: bold;
	color:#FF8585;
	margin-left: 15px;
}

#title{
	background-color: #828282;
	color:white;
}